global:
  clusterName: ${cluster_name}
fso-agent-mgmt-client:
  solution:
    endpoint: ${operators_endpoint}
  oauth:
    clientId: ${client_id}
    clientSecret: ${client_secret}
    tokenUrl: ${token_url}
    tenantId: ${tenant_id}
